@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body{
  background: url(wallpaper.jpg);
  background-size: 100vw 100vh;
  background-attachment: fixed;
  overflow-x: hidden;
}
main{

  /* background: url(https://wallpaperaccess.com/full/5624808.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; */
  padding-bottom: 20px;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}
.small{
  font-size: 40px;
  margin-left: 175px;
  color: white;
}

header .logo {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
 
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
  margin-left: 20px;
}

header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}

header ul li a:hover,
header ul li a.active {
  background: #fff;
  color: #2b1055;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.sec::before {
  content: ''; 
  position: absolute;
  margin-top: -100px;
  margin-left: -100px;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #2b1055 , black, black);
  z-index: 1000;
  padding: 30px;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

section img#moon {
  width: 250px;
  height: 250px;
  margin-left: 42%;
  mix-blend-mode: screen;
}
    /* section img#samurai_front {
      z-index: 10;
    } */

#text {
  position: absolute;
  color: #fff;
  white-space: nowrap;
  font-size: 7.5vw;
  z-index: 9;
  filter: drop-shadow(5px 5px 4px #2b1055 );
  -webkit-filter: drop-shadow(5px 5px 4px #2b1055 );
  text-shadow:  5px 8px 5px #2b1055;
  
}

#btn {
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 40px;
  background: transparent;
  color: #ffffff;
  font-size: 1.5em;
  z-index: 9;
  transform: translateY(100px);
}

.sec {
  position: relative;
  padding: 100px;
  background: #2b1055;
  background: linear-gradient(to top,black,#2b1055, #2b1055, #2b1055);
}

.sec h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #fff;
}

.sec p {
  font-size: 1em;
  color: #fff;
}
.text{
  text-align: center;
  font-family:poppins;
  font-size: 50px;
  padding-top: 40px;
  color: rgb(255, 255, 255);
  
  
}

.imgct {
  overflow: hidden;
  margin-right: 0px;
  margin-left: 23px;
  margin-top: 0px;
  float: left;
  position: absolute;
}

.imgct img {
  /*! grid-area: image; */
  position: relative;
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 60px;
  border: 3px solid #fff;
  float: left;
}



.bookshelf {
  width: 900px;
  margin: 5rem auto;
  text-align: center;
  position: relative;
}

.bookshelf.first{
  margin-top:100px;
}



.book-grid {
  z-index: 2;
  position: relative;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}
.book-grid ul {
  list-style: none;
  padding: 0;
  margin: 20px;
  display: flex;
  gap: 15%;
}
.book-grid ul li {
  justify-self: center;
}
.book-grid ul img {
  display: block;
  box-shadow: 3px 5px 18px 2px rgba(0, 0, 0, 0.6);
  width: 200px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.book-grid ul img:hover{
  transition: 0.5s ease-in-out;
  transform: translate(0, -50px) skew(3deg, -3deg) scale(1.05);
}

.shelf-shadows {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1rem;
  border-radius: 2px;
  z-index: 1;
  box-shadow: 0px -5px 3px 0px #713a25, 0px 15px 20px 0px rgba(39, 3, 3, 0.83), 0px 5px 5px 0px rgba(119, 119, 119, 0.3);
  backdrop-filter: blur(10px);
}

.shelf {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1rem;
  background: url(./wood.jpeg);
  border-radius: 2px;
  z-index: 3;
}
.wrapper {
  padding-top: 30px;
  display: grid;
  place-content: center;
  font-family: "Oswald", sans-serif;
  font-size: 120px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(white);
  /* font-size: 7.5vw; */
  z-index: 9;
  filter: drop-shadow(5px 5px 4px #2b1055 );
  -webkit-filter: drop-shadow(5px 5px 4px #2b1055 );
  text-shadow:  5px 8px 5px #2b1055;
}
.top{
  color: rgb(255, 255, 255);
}

.wrapper > div {
  grid-area: 1/1/-1/-1;
}
.top {
  clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
}
.bottom {
  clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
  color: orangered;
  background-clip: text;
  -webkit-background-clip: text;
  transform: translateX(-0.02em);
}

.section-header{
padding-top: 100px;
text-align: center;
color: #fff;
white-space: nowrap;
font-size: 60px;
z-index: 9;
filter: drop-shadow(5px 5px 4px #2b1055 );
-webkit-filter: drop-shadow(5px 5px 4px #2b1055 );
text-shadow:  5px 8px 5px #2b1055;
}





::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: orangered;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 69, 0);
}

.flex{
  width: 85%;
  margin-top: 50px;
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  gap: 20%;
  justify-content: center;
}
.side2 img{
  height: 500px;
}

.side1 p{
  padding-top: 20px;
  text-align: justify;
  color: #fff;
  font-size: 20px;
  z-index: 9;
  filter: drop-shadow(5px 5px 4px #2b1055 );
  -webkit-filter: drop-shadow(5px 5px 4px #2b1055 );
  text-shadow:  5px 8px 5px #2b1055;
  }
.side1 h1{
  text-align: center;
  color: #fff;
  font-size: 50px;
  z-index: 9;
  filter: drop-shadow(5px 5px 4px #2b1055 );
  -webkit-filter: drop-shadow(5px 5px 4px #2b1055 );
  text-shadow:  5px 8px 5px #2b1055;
  }

.side1{
  width: 50%;
}
@media screen and (max-width:480px){
  header{
    padding: 0px 0px;
  }
  .book-grid ul{
    gap: 13%;
  }
  .book-grid ul img{
    height: 100px;
    width: 70px;
  }
  .section-header{
    font-size: 25px;
    margin-top: 10px;
  }
  
  .bookshelf{
    width: 100%;
  }
  .small{
    font-size: 9px;
    /* margin-left: 40px; */
  }
  .wrapper{
    font-size: 50px;
  }
  header .logo{
    font-size: 20px;
  
  }
  header{
    padding-top: 20px;
  }
  .flex{
    flex-direction: column-reverse;
    width: 80%;
    margin-left: 55px;
  }
  .side2{
    width: 40%;
  }
  .flex img{
    height: 300px;
    margin-left: 4px;
  }
  .side1{
    width: 80%;
  }
  .side1 h1{
    font-size: 40px;
  }
  .side1 p{
    font-size: 15px;
    margin-left: 6px;
  }
  }